<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<app-header></app-header>
<app-profile></app-profile>
<body>
    <div class="buttons">
        <div>
            <button type="button" class="btn btn-primary" id="buttonProfessor" (click)="prof()">Self-Appraisal Form for Professors</button>
        </div>
        
        <div>
            <button type="button" class="btn btn-primary" id="buttonAssociate" (click)="associate_prof ()">Self-Appraisal Form for Associate Professors</button>
        </div>
        
        <div>
            <button type="button" class="btn btn-primary" id="buttonAssistant" (click)="assistant_prof()">Self-Appraisal Form for Assistant Professors</button>
        </div>  
    </div>
</body>
</html>