<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<app-header></app-header>
<app-profile></app-profile>
<body>
    <div class="buttons">
        <div>
            <button type="button" class="btn btn-primary" id="button" (click)="createPrincipal()">Create Principal</button>
        </div> 

        <div>
            <button type="button" class="btn btn-primary" id="button" (click)="createHodExtc()">Create Department of Electronics & Telecommunications Engineering Head</button>
        </div> 

        <div>
            <button type="button" class="btn btn-primary" id="button" (click)="createHodCe()">Create Department of Computer Engineering Head</button>
        </div> 

        <div>
            <button type="button" class="btn btn-primary" id="button" (click)="createHodCse()">Create Department of Computer Science & Engineering Head</button>
        </div> 

        <div>
            <button type="button" class="btn btn-primary" id="button" (click)="createHodAsh()">Create Department of Applied Science & Humanities Head</button>
        </div> 

        <div>
            <button type="button" class="btn btn-primary" id="button" (click)="createHodEe()">Create Department of Electronics Engineering Head</button>
        </div> 

        <div>
            <button type="button" class="btn btn-primary" id="button" (click)="createHodIt()">Create Department of Information Technology Head</button>
        </div> 
     </div>
</body>
</html>